#normal_login.ant-form.ant-form-horizontal.login-form {
    max-width: 300px;
}

#normal-login .login-form-forgot {
    float: right;
}

#normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}

#normal-login .login-form-button {
    width: 100%;
}